*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    text-align: center;
}

.containerOne{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.reloj input{
	/* display: flex; */
    width: 30px;
	/* font-size: 80px; */
	/* font-family: Courier,sans-serif; */
    margin-top: 5px;
    padding: 1px;
	color: #363431;
}
.containerOne button{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: cornflowerblue;
    color: aliceblue;
    border-radius: 5px;
    border-color: cornflowerblue;
}
.containerOne button:hover{
    background-color: aliceblue;
    color: cornflowerblue;
    border-radius: 5px;
}

.containerTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.containerTwo button{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: cornflowerblue;
    color: aliceblue;
    border-radius: 5px;
    border-color: cornflowerblue;
}
.containerTwo button:hover{
    background-color: aliceblue;
    color: cornflowerblue;
    border-radius: 5px;
}